body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topContainer {
    display: flex;
    height: 500px;
    background-color: #1F2937;
    justify-content: space-around;
    flex-wrap: nowrap;
    
}

.left-hand-side {
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    justify-content: center;
    flex-wrap: nowrap;
}
.right-hand-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ul {
    display: flex;
    gap: 80px;

}

.logo {
    font-size: 24px; 
    color: #e5e7eb;
    margin-bottom: 70px;
}
.right-hand-side li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 110px;
}
.title {
    font-size: 48px;
    font-weight: 800px;
    color: #F9FAF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
    
}
.information {
    font-size: 18px;
    color: #E5E7EB;
}
.info {
    justify-content: center;
    
}
.button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border: 0;
    height: 30px;
    width: 80px;
    flex: 1;

}

.second-container {
    height: 500px;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.images {
    display: flex;
    gap: 50px;
    padding-top: 60px;
}
.text-under-box {
    text-align: center;
    width: 150px;
}

.img-border {
    border: 3px solid #3882f6;
    border-radius: 10%;
}

.third-container {
    height: 500px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.paragraph {
    width: 700px; 
    align-self: center;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.thor {
    align-self: flex-end;
    padding-right: 250px;
    font-size: 20px;
}





